<div class="container">
  <div class="left-side">
    <img src="assets/images/TEC-SJ.jpg" alt="">
  </div>
  <div class="right-side">
    <h1>
      Iniciar Sesión
    </h1>

    <div class="inputs-container">
      <div class="each-input">
        <h2>
          Correo
        </h2>
        <shared-input placeholder="Correo">
        </shared-input>
      </div>
      <div class="each-input">
        <h2>Contraseña</h2>
        <shared-input placeholder="Contraseña">
        </shared-input>
      </div>
    </div>

    <div class="change-password-container">
      <h2 [routerLink]="'/changePassword'" class="clickable">
        Cambiar contraseña
      </h2>
      <shared-button text="Iniciar sesión" >
      </shared-button>
      <button (click)="getFiles()">
        aaaaaaaaaaaaaaaaaaaaa
      </button>
    </div>

  </div>
</div>
