<div class="container">
    <div class="left-side">
      <img src="assets/images/TEC-SC.jpg" alt="">
    </div>
    <div class="right-side">
      <h1>
        Verificar código
      </h1>
  
      <div class="inputs-container">
        <div class="each-input">
          <h2>
            Código seguridad
          </h2>
          <shared-input 
            placeholder="Código"
            [(entry)]="otp"[isPassword]="true">
          </shared-input>
        </div>
        <div class="each-input">
          <h2>
            Confirmar código seguridad
          </h2>
          <shared-input 
            placeholder="Confirmar código"
            [(entry)]="confirmationCode"[isPassword]="true">
          </shared-input>
        </div>
      </div>
  
      <shared-button 
        text="Modificar contraseña"
        (click)="getInput()">
      </shared-button>
  
    </div>
  </div>
  