<div class="flex-container">
    <shared-header [role]="this.role"></shared-header>

    <div class="container">
        <div class="right-side">
            <img src="assets/images/TEC-CA.jpg" alt="">
        </div>

        <div class="left-side">
            <div class="options-container">
                
                <h2 class="welcome"><span class="name">{{ firstName }} {{ firstSurname }} {{ secondSurname }}</span>, bienvenido(a) al Equipo Guía 2024
                </h2>
                <div class="options">
                    @if (role !== "student") {
                        <shared-button
                            text="Ver equipo"
                            link="teamView">                        
                        </shared-button>
                    }

                    <shared-button
                        text="Ver calendario"
                        link="viewCalendar">                        
                    </shared-button>
                </div>
            </div>
        </div>
    </div>
</div>