<div class="flex-container">
    <shared-header></shared-header>

    <div class="container">
        <div class="right-side">
            <img src="assets/images/TEC-CA.jpg" alt="">
        </div>

        <div class="left-side">
            <div class="options-container">
                
                <h1><span class="name">Ericka Solano</span>, bienvenido(a) al Equipo Guía 2024
                </h1>
                <div class="options">
                    <shared-button
                        text="Ver equipo"
                        link="teamView">                        
                    </shared-button>

                    <!--TODO: agregar el link a la ventana de ver calendario cuando esté-->
                    <shared-button
                        text="Ver calendario"
                        link="''">                        
                    </shared-button>
                </div>
            </div>
        </div>
    </div>
</div>