<div class="flex-container">
    <shared-header></shared-header>

    <div class="container">
        <div class="info-container">
            <div class="name-info">
                <h2>Nombre Completo</h2>
                <div class="row">
                    <div class="input">
                        <h5>
                            Nombre
                        </h5>
                        <shared-input placeholder="Nombre">
                        </shared-input>
                    </div>
                    <div class="input">
                        <h5>
                            Primer Apellido
                        </h5>
                        <shared-input placeholder="Primer Apellido">
                        </shared-input>
                    </div>
                    <div class="input">
                        <h5>
                            Primer Apellido
                        </h5>
                        <shared-input placeholder="Segundo Apellido">
                        </shared-input>
                    </div>
                    <div class="input">
                        <h5>
                            Carné
                        </h5>
                        <shared-input placeholder="Número de Carné">
                        </shared-input>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <h2>Información de Contacto</h2>
                <div class="row">
                    <div class="input">
                        <h5>
                            Correo
                        </h5>
                        <shared-input placeholder="Correo">
                        </shared-input>
                    </div>
                    <div class="input">
                        <h5>
                            Teléfono Celular
                        </h5>
                        <shared-input placeholder="Teléfono Celular">
                        </shared-input>
                    </div>
                </div>
            </div>
            <div class="options">
                <shared-button
                    text="Confirmar estudiante"
                    link="/viewStudents">
                </shared-button>
            </div>
        </div>
    </div>
</div>