.header {
    height: 40px;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.options {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-title, 
.options {
    padding-top: 1rem;
    font-size: 14px;
}

.profile {
    height: 100%;
}