<div class="flex-container">
    <shared-header></shared-header>
    <div class="container">
        <div class="info-container">
            <div class="img-container">
                <img src="\assets\images\saludMental.jpg" alt="">
            </div>
            <div class="text-container">
                <div class="text">
                    <h2>
                        Nombre de Actividad
                    </h2>
                    <p>
                        Charla Salud Mental
                    </p>
                </div>
                <div class="text">
                    <h2>
                        Tipo
                    </h2>
                    <p>
                        Orientadora
                    </p>
                </div>
                <div class="text">
                    <h2>
                        Días para Anuncio
                    </h2>
                    <p>
                        14
                    </p>
                </div>
                <div class="text">
                    <h2>
                        Días para Recordatorio
                    </h2>
                    <p>
                        3
                    </p>
                </div>
            </div>
        </div>
        <div class="options-container">
            <!--TODO: poner los links de los botones-->
            <shared-button 
                text="Ver comentarios"
                link="">
            </shared-button>
            <!--TODO: poner los links de los botones-->
            <shared-button
                text="Editar"
                link="/editActivity">
            </shared-button>
        </div>
    </div>
</div>
