<div class="flex-container">
  <shared-header></shared-header>
  <div class="container">
    <div class="info-container">
      <div class="left-side">
        <img src="assets/images/TEC-SJ.jpg" alt="" />
      </div>

      <div class="right-side">
        <h2>Nombre Completo</h2>
        <p>José Andrés Perez Osorio</p>

        <h2>Correo</h2>
        <p>joseAndre&#64;itcr.ac.cr</p>

        <h2>Teléfono Oficina</h2>
        <p>20408090</p>

        <h2>Teléfono Celular</h2>
        <p>65371282</p>

        <h2>Código de profesor</h2>
        <p>A-12</p>
      </div>
    </div>
    <div class="edit-button">
      <shared-button text="Editar perfil" link="''"> </shared-button>
    </div>
  </div>
</div>
