<div class="flex-container">
  <shared-header></shared-header>
  <div class="container">
    <div class="info-container">
      <div class="left-side">
        <img [src]="photo" alt="abc" />
      </div>

      <div class="right-side">
        <div class="info">
          <h2>Nombre Completo</h2>
          <p>{{name}}</p>
        </div>
        <div class="info">
          <h2>Correo</h2>
          <p>{{email}}</p>
        </div>
        <div class="info">
          <h2>Campus al que pertenece</h2>
          <p>{{campus}}</p>
        </div>
        <div class="info">
          <h2>Teléfono Oficina</h2>
          <p>{{officePhone}}</p>
        </div>
        <div class="info">
          <h2>Teléfono Celular</h2>
          <p>{{phone}}</p>
        </div>
        <!-- <div class="info">
          <h2>Es coordinador</h2>
          <p>{{isCordinator}}</p>
        </div> -->
        <div class="info">
          <h2>Código de profesor</h2>
          <p>A-12</p>
        </div>

      </div>
    </div>
    <div class="edit-button">
      <shared-button 
        text="Editar perfil"
        (click)="editProfile()"> </shared-button>
    </div>
  </div>
</div>
