<div class="flex-container">
    <shared-header [isTeacher]="userIsTeacher"></shared-header>
    <div class="container">
        <div class="info-container">
            <h2 class="header">
                Agregar Profesor
            </h2>
            <div class="name-info">
                <h2>Nombre Completo</h2>
                <div class="row">
                    <div class="input">
                        <h5>
                            Primer Nombre
                        </h5>
                        <shared-input placeholder="Primer Nombre"[(entry)]="firstNameOnInput">
                        </shared-input>
                    </div>
                    <div class="input">
                        <h5>
                            Segundo Nombre
                        </h5>
                        <shared-input placeholder="Segundo Nombre"[(entry)]="secondNameOnInput">
                        </shared-input>
                    </div>
                </div>
                <div class="row">
                    <div class="input">
                        <h5>
                            Primer Apellido
                        </h5>
                        <shared-input placeholder="Primer Apellido"[(entry)]="firstSurnameOnInput">
                        </shared-input>
                    </div>
                    <div class="input">
                        <h5>
                            Segundo Apellido
                        </h5>
                        <shared-input placeholder="Segundo Apellido"[(entry)]="secondSurnameOnInput">
                        </shared-input>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <h2>Información de Contacto</h2>
                <div class="row">
                    <div class="input">
                        <h5>
                            Correo
                        </h5>
                        <shared-input placeholder="Correo Institucional"[(entry)]="emailOnInput">
                        </shared-input>
                    </div>
                    <div class="input">
                        <h5>
                            Teléfono Oficina
                        </h5>
                        <shared-input placeholder="Teléfono Oficina"[(entry)]="officePhoneOnInput">
                        </shared-input>
                    </div>
                </div>
                <div class="row">
                    <div class="input">
                        <h5>
                            Teléfono Celular
                        </h5>
                        <shared-input placeholder="Teléfono Celular"[(entry)]="cellPhoneOnInput">
                        </shared-input>
                    </div>
                    <div class="input">
                        <h5>
                            Campus 
                        </h5>
                        <select id="campus"
                        (change)="onCampusChange($event)"
                        class="custom-select">
                        <option value="663057863ee524ad51bd5b0f">San José</option>
                            <option value="663057633ee524ad51bd5b05">Cartago</option>
                            <option value="6630576f3ee524ad51bd5b09">Alajuela</option>
                            <option value="6630578f3ee524ad51bd5b12">Limón</option>
                            <option value="663057763ee524ad51bd5b0c">San Carlos</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="extra-info">
                <h2>Información Extra</h2>
                <div class="row">
                    <div class="input">
                        <h5>Foto</h5>
                        <div class="file-input-container">
                            <shared-file-input
                                [acceptedExtensions]="['.jpg', '.png', '.jpeg']"
                                (fileSelected)="getFile($event)"
                                placeholder="Subir foto"
                                placeholderPreviewImage="assets/images/teacher.png">
                            </shared-file-input>
                        </div>
                    </div>
                    <div class="input">
                        <h5>
                            Coordinador
                        </h5>
                        <div class="checkbox-container">
                            <shared-checkbox-input (change)="toggleIsCoordinator($event)">
                            </shared-checkbox-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="options">
                <shared-button
                    text="Agregar profesor"
                    (click)="addProfessor()">
                </shared-button>
            </div>
        </div>
    </div>
</div>