<div class="flex-container">
    <shared-header></shared-header>
    <div class="container">
        <div class="content-fixer">
            <div class="top-table">
                <h2>Miembros del equipo</h2>
                <shared-button text="Filtros" [bordered]="true">
                </shared-button>
            </div>
            <app-table
                [headers]="headers"
                [data]="data">
            </app-table>
            <div class="pagination clickable">
                <i class="material-icons">arrow_back_ios</i>
                <i class="material-icons">arrow_forward_ios</i>
            </div>
            <div class="bottom-table">
                <shared-button 
                    text="Ver estudiantes" 
                    link="/viewStudents">
                </shared-button>
                <shared-button 
                    text="Agregar profesor" 
                    link="/addTeacher">
                </shared-button>
            </div>
        </div>
    </div>


</div>