<div class="container">
  <div class="left-side">
    <img src="assets/images/TEC-SC.jpg" alt="">
  </div>
  <div class="right-side">
    <h1>
      Cambiar contraseña
    </h1>

    <div class="inputs-container">
      <div class="each-input">
        <h2>
          Nueva contraseña
        </h2>
        <shared-input 
          placeholder="Nueva contraseña"
          [(entry)]="newPassword">
        </shared-input>
      </div>
      <div class="each-input">
        <h2>
          Confirmar contraseña
        </h2>
        <shared-input 
          placeholder="Confirmar contraseña"
          [(entry)]="confirmPassword">
        </shared-input>
      </div>
    </div>

    <shared-button 
      text="Realizar cambio"
      (click)="getInput()">
    </shared-button>

  </div>
</div>
