<div class="table-container">
    <table>
        <tr>
            @for (header of headers; track $index) {
                <th>{{header[0]}}</th>
            }
        </tr>
        <tr>
        </tr>
        @for (eachData of data; track $index) {
            <tr>
                @for (info of eachData; track $index) {
                    @if (headers[$index][1] == "text") {
                        <td> {{info}} </td>
                    }
                    @if (headers[$index][1] == "span") {
                        <td>
                            <shared-badge
                                [text]="info[0]"
                                [color]="info[1]">
                            </shared-badge>
                        </td>
                    }
                    @if (headers[$index][1] == "icon") {
                        <td class="actions">
                        @for (item of info; track $index) {
                            @if (item[0] == "edit") {
                                <i class="material-icons edit clickable" [routerLink]="item[1]">
                                    {{ item[0] }}
                                </i>
                            } @else if (item[0] == "exit_to_app") {
                                <i class="material-icons exit clickable" [routerLink]="item[1]">
                                    {{ item[0] }}
                                </i>
                            } @else if (item[0] == "delete") {
                                <i class="material-icons delete clickable" [routerLink]="item[1]">
                                    {{ item[0] }}
                                </i>
                            } @else {
                                <i class="material-icons clickable" [routerLink]="item[1]">
                                    {{ item[0] }}
                                </i>
                            }
                        }
                        </td>
                    }
                }
            </tr>
        }
    </table>
</div>
