<div class="container">
    <div class="left-side">
      <img src="assets/images/TEC-SC.jpg" alt="">
    </div>
    <div class="right-side">
      <h1>
        Obtener OTP
      </h1>
  
      <div class="inputs-container">
        <div class="each-input">
          <h2>
            Correo electrónico
          </h2>
          <shared-input placeholder="Ingresar correo">
          </shared-input>
        </div>
      </div>
  
      <shared-button 
        text="Enviar código"
        link="/changePassword/addOtp">
      </shared-button>
  
    </div>
  </div>
  